<label>Server name</label>
<input type="text" class="form-control" (input)= "onUpdateServerName($event)"> 
<!-- using two way binding, will update the component field and will also update the value in the textbox if we change server name somewhere else -->
<input type="text" class="form-control" [(ngModel)]="serverName">  

<button class = "btn btn-primary" [disabled]="!allowNewServer" 
(click)= "OnCreateServer()"  >Add server</button>
<p>{{serverName}}</p>

<app-server *ngFor="let server of serverNames"></app-server>
<table>
    <tr><td>Server index</td><td>Server names</td><td>Online</td></tr>
    <tr *ngFor="let server of servers;let myindex = index;let evenrecord=even;let oddrecord = odd;" [ngClass]="{odd:oddrecord,even:evenrecord}"
     >
     <td>{{myindex+1}}</td><td>{{server.name}}</td><td>{{server.online}}</td></tr>
</table>



<p [innerText] = "allowNewServer"></p> 
<p>{{serverCreationStatus}}</p>
<!-- here removed curly braces by inner text, so used property binding instead of string interpolation -->
<!-- Output some text , should use string interpolation and changing property - use property binding -->
<p *ngIf = "serverCreated;else noServer;">Server created. Name is {{serverCreated}} </p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>


<h2 class="text-success">CodeEvolution</h2>
<h2 [class]="successClass">CodeEvolution</h2> 
<!-- class binding -->
<h2 [class]="successClass" class="text-special" >CodeEvolution</h2>
<h2 [class.text-danger]="hasError" >CodeEvolution</h2>
<h2 [ngClass]="messageClasses">CodeEvolution</h2>
<h2 [style.color]="hasError?'red':'green'">StyleBinding</h2>
<h2 [style.color]="highlighightColor">Stylebinding2</h2>
<h2 [ngStyle]="titleStyles">Stylebinding3</h2>
<!-- <h2 [class.text-danger]="hasError">CodeEvolution</h2> -->
<button (click)="onClick($event)" >Greet</button>
<button (click)="greeting='Welcome Rohit'" >Greet</button>
<!-- <input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button> -->
<!-- Template reference variable not working -->
{{greeting}}
<input [(ngModel)]="name" type="text"/>


