
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h3>I am in Appcomponent</h3>
    <hr>
    <app-servers></app-servers>
    <!-- <div app-servers ></div>   -->
    <!-- when selector: '[app-servers]' or .app-servers at servers.component.ts -->
    {{message}}
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
    <app-display (childEvent)="message=$event" [parentData]="Appuser"></app-display>
    <app-employee-detail></app-employee-detail>
    </div>
  </div>
</div>
<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <a routerLink = "/departments" routerLinkActive="active" >Departments</a>
  <a routerLink = "/employeelist" routerLinkActive="active" >Employees</a>
</nav>
<h1>Routing and Navigation </h1>
<router-outlet></router-outlet> 
<!-- Routed views go here -->
