<hr>
<div *ngIf="displayName;else elseBlock">
   <p> show display</p>
</div>
{{displayName}}
<ng-template #elseBlock>
    <p>hide display</p>
  </ng-template>

  <hr>
  <div [ngSwitch] = "color" >
    <div *ngSwitchCase = "'red'">Red color</div>
    <div *ngSwitchCase = "'blue'">blue color</div>
    <div *ngSwitchCase = "'green'">green color</div>
    <div *ngSwitchDefault >Pick again</div>
  </div>
<div *ngFor="let color of colors; index as i">
  <!-- odd as o, even as e -->
  <h2>{{i}}-{{color}}</h2>
</div>
<!-- Receiving input from parent -->
<h2>{{Appuser}}</h2>
<!-- Sending event to parent -->
<button (click)="fireEvent()">Send Event</button>

{{(person.name | titlecase) + ' '+ person.surname}}
{{(person.name | slice:3:5) + ' '+ person.surname}}
<!-- json pipe does not works -->
<!-- {{(person | json }} -->
<h3>{{0.35 | percent}}</h3>
<h3>{{0.35 | currency}}</h3>
<h3>{{0.35 | currency:'EUR':'code'}}</h3>
<h3>{{date| date:'short'}}</h3>
<h3>{{date| date:'shortDate'}}</h3>
<h3>{{date| date:'shortTime'}}</h3>
